
header {
    font-size: 40px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}
#gif-form {
    margin-left: 30px;
    color:white;
    font-size: 20px;
    padding:20px;
}

#gif-area {
    padding: 30px;
}
#find-gif {
   margin: 20px auto;
}

#gif-images {
    margin-left: 30px;
    
}

.gifHolder {
    display: inline-block;
    margin: 20px;
}

